{% extends "base.html"%}
{%load static%}
{% block content %}

<link href="{%static 'about/css/style.css' %}"  rel="stylesheet">
<link href="{%static 'about/css/style.css' %}"  rel="stylesheet">
<!--<section id="hero" >

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>WALCHAND COLLEGE OF ENGINEERING, SANGLI</h1>
          <h2>(An autonomous institution affiliated to Shivaji University)</h2>
          
        
      </div>
    </div>

  </section>-->
  <article>
  <div id="hero"><br><br>
  <h1>WALCHAND COLLEGE OF ENGINEERING, SANGLI</h1>
  <h2>(An autonomous institution affiliated to Shivaji University)</h2>
  </div>
  <img src="{% static 'about/image/college2.jpg' %}" alt="college_photo" class="article-img" ><br>
  <div class="article-title">
          Walchand College of Engineering Sangli (WCE), established in 1947 and aided by the Govt. of Maharashtra, is one of the oldest and premier engineering institutions in India. With a rich history of over 70 years and a beautiful campus of over 90-acres, WCE Sangli, is providing transformational learning experience in various disciplines of engineering.
        </div>
  <div class="article-title">
        WCE offers 6 UG programs in Civil, Electrical, Mechanical, Electronics, Computer Science and Engineering and Information Technology and 10 PG programs. It also offers PhD programs under Shivaji University, National Doctoral Fellowship of AICTE and under Quality Improvement Program (QIP) scheme of Ministry of Human Resource Development (MHRD). At present, around 1900 students are studying in various B.Tech programs, 480 students in M.Tech programs and around 75 scholars are pursuing their PhD programs. Walchand College of Engineering is affiliated to Shivaji University Kolhapur and is approved by AICTE, New Delhi. The institute is also given autonomous status by University Grants Commission since 2007
        </div>
    <div class="article-title">
      The students of WCE get placed in reputed Multinational and Indian Companies such as Google, Microsoft, LinkedIn, Amazon, John Deere, Rakuten, P&G, Mahindra, TCS, Infosys and many other companies. With a high percentage of placements, WCE students also get very good packages, with the highest package being 43 LPA in the year 2019
    </div>
    <div class="article-title">
          Through the Transformational Teaching Learning (TTL) processes, WCE aims at overall development of students with focus on Education, Employability and Employment. The Track Based Curriculum and Choice Based Credit System along with Value Added Professional and Life Skill Courses at WCE, enable students to choose appropriate path of their career.

    </div>
    <div id="hero">
    <h1>ABOUT COMPUTER SCIENCE AND ENGINEERING DEPARTMENT</h1><br>
    <div class="article-title">The CSE department of WCE has been established in the year 1986 with the introduction of Undergraduate Programme in Computer Science and Engineering. The UG and PG programmes of the department are affiliated to Shivaji University, Kolhapur and use the academic autonomy for the overall development of students with focus on Education, Employability and Employment. The Ph.D. Programme in the department which runs under AICTE’s QIP has boosted the research culture further. The department also provides research guidance to Ph.D. students of Shivaji University, Kolhapur. Many researchers have completed their Ph.D. research work at the department. The strong research culture, fully equipped computing facility and well qualified faculty and staff are the key highlights of the department
    </div>
    </div>
    <div id="hero">
    <h3>Dr. P. H. Sawant<br>
Director<br><br>
Dr. S. B. Joshi<br>
CCE Coordinator<br><br>
Dr.M.A.Shah<br>
HOD, Department of CSE<br>
WALCHAND COLLEGE OF ENGINEERING, SANGLI<br>
416415<br><br>
Tel: +91-233-2300383<br>
Fax:+91-233-2300831<br>

<a href="http://www.walchandsangli.ac.in/" target="_blank">www.walchandsangli.ac.in</a>
</h3>
    </div>
  </article>
{%endblock%}