{% extends "base.html"%}
{%load static%}
{% block title %}About{% endblock %}
{% block content %}

<br><br><br><br><br>

<h1 style="text-align: center;">Faculty Page.</h1><br>

<div class="container d-flex justify-content-center">
    <a href=""><button class="btn btn-primary">Check Enrollment List for Deep Learning</button></div></a><br>
            <div class="container d-flex justify-content-center"><a href=""><button class="btn btn-primary">Check Enrollment List for Python</button></a></div><br>


<br><br><br>
{%endblock%}