{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>WCE Courses</h1>
          <h2>Offering quality education for all to Excel and Innovate</h2>
          <div><a href="{% url 'Login' %}" class="btn-get-started scrollto">Login</a></div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="landing_staticlanding_staticero-img.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

   
    

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Courses</h2>
          <p>Precisely designed courses by field expertise to provide comprehensive knowlegde using modern learning techniques.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="las la-basketball-ball" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">DBMS</a></h4>
              <p class="description">Database Management System<br>Prof. Rokade<br>Course duration: 12 Weeks</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="las la-book" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">COA</a></h4>
              <p class="description">Computer Organisation and Architecture<br>Prof. Mahadeshwar<br>Course duration: 12 Weeks</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
            <div class="icon-box">
              <div class="icon"><i class="las la-file-alt" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">PAS</a></h4>
              <p class="description">Probability and Statistics<br>Prof. Khot<br>Course duration: 12 Weeks</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
            <div class="icon-box">
              <div class="icon"><i class="las la-tachometer-alt" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Operating Systems</a></h4>
              <p class="description">Prof. Mahadeshwar<br>Course duration: 12 Weeks</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-wow-delay="0.2s">
            <div class="icon-box">
              <div class="icon"><i class="las la-globe-americas" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Discrete Mathematics</a></h4>
              <p class="description">Prof. Mundada<br>Course duration: 12 Weeks</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-wow-delay="0.2s">
            <div class="icon-box">
              <div class="icon"><i class="las la-clock" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">DSA</a></h4>
              <p class="description">Data Structure and Algorithms<br>Prof. Gavankar<br>Course duration: 12 Weeks</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->


    

  </main><!-- End #main -->

  {% endblock %}