{% extends 'base.html' %}
{% load static %}
{% block title %}Python for Everybody{% endblock %}
{% block content %}

<br><br><br><br><br>
<div class="d-flex justify-content-center">
    <h1><strong>Python for Everyone</strong></h1>
</div>
<br>
<div class="container">
    <p><span style="font-size: 1.2rem">D</span>epartment of CSE has launched value added Programme on Python for
        Everybody under Center for Continuing Education (CCE). Emerging trends in
        technical and professional education call for value addition i.e. students must
        acquire something more than what is provided in the curriculum. The college
        offers numerous of value added courses which are designed to bridge the gap
        between the academia and industry. By doing this VAP course participant excel
        in Python basics</p>
</div><br>

<div class="row">
    <div class="container">
        <div class="col-md-12">
            <div class="d-flex justify-content-start">
                <h3>Programme Objectives</h3>
            </div>
            <ol type="1">
                <li>To provide in depth knowledge of basic concepts of python programming.</li>
                <li>To demonstrate working of Python standard library such as Numpy and
                    Pandas.</li>
                <li>To explore Python's object oriented features.</li>
                <li>To develop the skill of providing solution for any real life problem using
                    Python.</li>
            </ol>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="d-flex justify-content-start">
                <h3>Course Content</h3>
            </div>
            <ol type="1">
                <li>Introduction to python</li>
                <li>Working with Data types</li>
                <li>Exception handling and file handling using python</li>
                <li>Object oriented programming using python</li>
                <li>Introduction to NumPy</li>
                <li>Introduction to Pandas</li>
            </ol>
        </div>
    </div>
</div>
<br>
<div class="d-flex justify-content-center">
    <h2>Course Schedule and Evaluation</h2>
    <br>
</div>
<div class="d-flex justify-content-center">
    <h4>Date: 20 Feb to 26 Feb 2021</h4><br>
</div>
<div class="container">
    <p style="text-align: center;"><span style="font-size: 1.2rem;">E</span>valuation will be based on assignment score
        and final exam that will be
        conducted at the end of course.<br>The participants who will secure more than
        40% marks they will be eligible for certificate.</p>
</div><br>
<div class="d-flex justify-content-center">
    <h2>Venue for Classes</h2>
    <br>
</div>
<div class="container">
    <p style="text-align: center;"><span style="font-size: 1.2rem;">O</span>nline Mode: Lectures will be conducted in
        online mode through Google
        meet, Microsoft teams etc.</p>
</div><br>
<br>
<div class="d-flex justify-content-center">
    <h2>Faculty/Speakers</h2>
    <br>
</div>
<table class="table container">
    <thead class="thead-light">
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Organisation</th>
            <th scope="col">Affiliation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mr.Rohit Patil </td>
            <td>GSLab Pune</td>
            <td>Senior Software
                Engineer</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Mr. Siddharaj Pujari</td>
            <td>WCE, Sangli</td>
            <td>Asst.Professor</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Ms. Amruta Umrani</td>
            <td>WCE, Sangli</td>
            <td>Asst.Professor</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Ms. Sonali Rokade</td>
            <td>WCE, Sangli</td>
            <td>Asst.Professor</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Ms. Ashwini Kale</td>
            <td>WCE, Sangli</td>
            <td>Asst.Professor</td>
        </tr>
    </tbody>
</table>
<br>

<div class="container">
    <div class="col-md-12">
        <div class="d-flex justify-content-start">
            <h2>Important Dates</h2>
        </div>
        <ol type="1">
            <li>The course will be organized during: 20-26 Feb 2021</li>
            <li>Deadline for submitting application: 15th Feb 2021</li>
            <li>Notification of acceptance: 17th Feb 2021</li>
        </ol>
    </div>
    <p><strong>Note</strong>: Incomplete application forms will not be entertained. Please fill the form
        carefully.</p>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <div class="d-flex justify-content-start">
            <h3>Eligibility for Course Registration</h3>
        </div>
        <p><span style="font-size: 1.2rem">A</span>ll students of engineering discipline, faculty from various colleges
            having
            basic knowledge of programming can register for this course.</p>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <div class="d-flex justify-content-start">
            <h3>Eligibility for Course Certificate</h3>
        </div>
        <p><span style="font-size: 1.2rem">A</span>ll participants who have successfully attended the sessions and
            completed the assignments within given time and who have passed the
            final exam (which will be scheduled at the end of course) with 40%
            marks they will be eligible for certificate.<br>
            Final score will be calculated as: 70% marks secured in final exam and
            30% from assignment score.</p>
    </div>
</div>
<br>
<div class="container">
    <div class="col-md-12">
        <div class="d-flex justify-content-start">
            <h3>Registration</h3>
        </div>
        <p><span style="font-size: 1.2rem">C</span>andidates should complete the registration by submitting the form
            <strong>online</strong> (the link
            is given below). Candidate need to pay registration fees <strong>online</strong>. A link for online
            payment is also provided below. Confirmation of eligible candidates will be on a
            first come first served basis. </p>
    </div>
</div>
<br>
<div class="d-flex justify-content-center">
    <h2>Registration Fees</h2>
    <br>
</div>
<table class="table container">
    <thead class="thead-light">
        <tr>
            <th scope="col">Sr.</th>
            <th scope="col">Type of Participant</th>
            <th scope="col">Fees (Rs.)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Attendees</td>
            <td>1500</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Attendees + Certification</td>
            <td>2000</td>
        </tr>
    </tbody>
</table>
<br>
<div class="d-flex justify-content-center">
    <h2>Link for Registration</h2>
    <br>
</div>
<div class="container">
    <p style="text-align: center;"><span style="font-size: 1.2rem;">F</span>or Registration, click <a
            href="https://forms.gle/gc1XKz1mJpxA5UY97">here</a>.</p>
</div><br>
<div class="container">
    <div class="col-md-12">
        <div class="d-flex justify-content-start">
            <h3>Course Coordinators</h3>
        </div>
        <div class="row">
            <div class="col-md" style="margin-bottom: 2%"> Mr.Siddharaj D Pujari<br>Mob: <a
                    href="tel:8421471098">8421471098</a><br>Email: <a
                    href="mailto:siddharaj.pujari@walchandsangli.ac.in">siddharaj.pujari@walchandsangli.ac.in</a></div>
            <div class="col-md" style="margin-bottom: 2%"> Ms.Amruta T.Umrani<br>Mob: <a
                    href="tel:8329101193">8329101193</a><br>Email: <a
                    href="mailto:amruta.umrani@walchandsangli.ac.in">amruta.umrani@walchandsangli.ac.in</a></div>
        </div>
    </div>
    <br><br>
    <div class="d-flex justify-content-center">
        <h2>Course Schedule</h2>
        <br>
    </div>
    <table class="table container">
        <thead class="thead-light">
            <tr>
                <th scope="col">Sr.No.</th>
                <th scope="col">Content</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Resource Person</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td><strong>Introduction to
                    python</strong>
                    (Hands on
                    Session)</td>
                <td>20/02/2021 </td>
                <td>11 AM to 1PM </td>
                <td>Mr.S.D.Pujari</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td><strong>Working with
                    Data types</strong>
                    (Hands on
                    Session)</td>
                <td>21/02/2021</td>
                <td>11 AM to 1PM </td>
                <td>Ms.A.T.Umrani</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td><strong>Exception
                    handling and
                    file handling
                    using python</strong>
                    (Hands on
                    Session)</td>
                <td>22/02/2021</td>
                <td>11 AM to 1PM</td>
                <td>Mr.S.D.Pujari</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td><strong>Object oriented
                    programming
                    using python</strong>
                    (Hands on
                    Session)</td>
                <td>23/02/2021</td>
                <td>11 AM to 1PM</td>
                <td>Ms.A.T.Umrani</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td><strong>Introduction to
                    NumPy</strong>
                    (Hands on
                    Session)</td>
                <td rowspan="2">24/02/2021</td>
                <td>11 AM to 1PM</td>
                <td>Mr. Rohit Patil</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td><strong>More on
                    NumPy</strong>
                    (Hands on
                    Session)</td>
                <td>3 PM to 4PM </td>
                <td>Mr. Rohit Patil</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td><strong>Advanced
                    NumPy</strong>
                    (Hands on
                    Session)</td>
                <td>25/02/2021</td>
                <td>11 AM to 1PM</td>
                <td>Mr. Rohit Patil</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td><strong>Python Pandas</strong>
                    (Hands on
                    Session)</td>
                <td rowspan="2">26/02/2021</td>
                <td>11 AM to 1PM</td>
                <td>Ms. S. S.
                    Rokade</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td><strong>More on
                    Pandas</strong>
                    (Hands on
                    Session)</td>
                <td>3 PM to 4PM </td>
                <td>Ms. A. A. Kale</td>
            </tr>
        </tbody>
    </table>
    <br>
<div class="col text-center">
    {% if user.is_authenticated %}
    <a href="{% url 'enrollPython' %}" class="btn btn-primary" style="background: #49b5e7; padding: 1% 3%">
    {{message}}</a>
    {% else %}
    <a href="{% url 'Login' %}" class="btn btn-primary" style="background: #49b5e7; padding: 1% 3%">
    {{message}}</a>
    {%endif%}
</div>
<br>
    
    {% endblock %}