{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- 
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Summary of course </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/hero-slider.css">
        <link rel="stylesheet" href="css/templatemo-main.css">
        <link rel="stylesheet" href="css/owl-carousel.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
<!--
Vanilla Template
https://templatemo.com/tm-526-vanilla
-->
<body> -->

    
    <!-- ===============================Start Header Area========================================== -->
    



    <div class="parallax-content baner-content" id="home">
        <div class="container">
            <div class="first-content">
                
                <h2><strong>Python for everyone</strong></h2>

                <!-- <div class="col-md-4"> -->
                    <!-- <div class="left-text"> -->
                        
                        <div class="line-dec"></div>
                        <p><p class="donec_text">Department of CSE has launched value added Programme on Python for
							Everybody under Center for Continuing Education (CCE). Emerging trends in
							technical and professional education call for value addition i.e. students must
							acquire something more than what is provided in the curriculum. The college
							offers numerous of value added courses which are designed to bridge the gap
							between the academia and industry. By doing this VAP course participant excel
							in Python basics.</p>
                        <ul>
                            <li>-  Praesent porta urna id eros</li>
                            <li>-  Curabitur consectetur malesuada</li>
                            <li>-  Nam pretium imperdiet enim</li>
                            <li>-  Sed viverra arcu non nisi efficitur</li>
                        </ul>
                        <div class="primary-button">
                            <a href="#portfolio">Learn More About Us</a>
                        </div>
                    </div>
                </div>
                <div class="primary-button">
                    <a href="https://forms.gle/gc1XKz1mJpxA5UY97">Register here</a>
                </div>
            </div>
        </div>
    </div>


    <div class="service-content" id="services">
        <div class="container">
            <div class="row">
                
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Course Content</h4>
                                <div class="line-dec"></div>
                                <p ol type="1">
                                    <li>Introduction to python</li>
                                    <li>Working with Data types</li>
                                    <li>Exception handling and file handling using python</li>
                                    <li>Object oriented programming using python</li>
                                    <li>Introduction to NumPy</li>
                                    <li>Introduction to Pandas</li>
                                   </ol> </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Program Objective</h4>
                                <div class="line-dec"></div>
                                <p ol class="lorem_text">
                                    <li>To provide in depth knowledge of basic concepts of python programming.</li>
                                    <li>To demonstrate working of Python standard library such as Numpy and
                                       Pandas.</li>
                                   <li>To explore Python's object oriented features.</li>
                                   <li>To develop the skill of providing solution for any real life problem using<br>
                                       Python.</li>	</p>
                               </ol>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Course Content</h4>
                                <div class="line-dec"></div>
                                <p ol type="1">
                                    <li>Introduction to python</li>
                                    <li>Working with Data types</li>
                                    <li>Exception handling and file handling using python</li>
                                    <li>Object oriented programming using python</li>
                                    <li>Introduction to NumPy</li>
                                    <li>Introduction to Pandas</li>
                                   </ol> </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Date: 20 Feb to 26 Feb 2021</h4>
                                <div class="line-dec"></div>
                                <p><p class="lorem_text">Date: 20 Feb to 26 Feb 2021<br>
                                    Evaluation will be based on assignment score and final exam that will be
                                    conducted at the end of course. The participants who will secure more than
                                    40% marks they will be eligible for certificate.</p>
                                    <strong>(Note: Detailed schedule is available on last page.)</strong></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>VENUE FOR  CLASSES</h4>
                                <div class="line-dec"></div>
                                <p class="lorem_text">Online Mode: Lectures will be conducted in online mode through Google
                                    meet, Microsoft teams etc.</p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="service-item">
                                <h4>Faculty / Speakers</h4><br>
                                <div class="line-dec"></div>
                                <table style="width:100%">
                                    <tr>
                                      <th><h3>No.</h3></th>
                                      <th><h3>Name</h3></th> 
                                      <th><h3>Organization</h3></th>
                                      <th><h3>Affiliation</h3></th>
                                    </tr>
                                    
                                    <tr>
                                      <td>1 </td>
                                      <td>Mr.Rohit Patil</td>
                                      <td>GSLab Pune</td>
                                      <td>Senior software engineer</td>
                                    </tr>
                
                                    <tr>
                                        <td>2 </td>
                                        <td>Mr. Siddharaj Pujari</td>
                                        <td>GWCE, Sangli</td>
                                        <td>Asst.Professor</td>
                                      </tr>
                
                                      <tr>
                                        <td>3 </td>
                                        <td>Ms. Amruta Umrani</td>
                                        <td>WCE, Sangli</td>
                                        <td>Asst.Professor</td>
                                      </tr>
                
                                      <tr>
                                        <td>4 </td>
                                        <td>Ms. Sonali Rokade</td>
                                        <td>WCE, Sangli</td>
                                        <td>Asst.Professor</td>
                                      </tr>
                
                                      <tr>
                                        <td>5 </td>
                                        <td>Ms. Ashwini Kale</td>
                                        <td>WCE, Sangli</td>
                                        <td>Asst.Professor</td>
                                      </tr>
                
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>ELIGIBILITY FOR COURSE  RESGISTRATION</h4>
                                <div class="line-dec"></div>
                                <p class="lorem_text">All students of engineering discipline, faculty from various colleges having
                                    basic knowledge of programming can register for this course.</p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Ye bhi thik hai </h4>
                                <div class="line-dec"></div>
                                <p class="lorem_text">Candidates should complete the registration by submitting the form online (the link
                                    is given below). Candidate need to pay registration fees online. A link for online
                                    payment is also provided below. Confirmation of eligible candidates will be on a
                                    first come first served basis.</p>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="service-item">
                                <h4>Course  Schedule</h4>
                                <div class="line-dec"></div>
                                <div class="col-sm-12">
				
                                    <table style="width:100%">
                                        <tr>
                                          <th><h3>Sr.No.</h3></th>
                                          <th><h3>Content</h3></th> 
                                          <th><h3>Date</h3></th>
                                          <th><h3>Time</h3></th>
                                          <th><h3>Resourse Person</h3></th>
                                          
                                        </tr>
                                        <tr>
                                          <td>1. </td>
                                          <td><strong>Introduction to
                                            python</strong><br>
                                            (Hands on
                                            Session)</td>
                                            <td>20/02/2021</td>
                                            <td>11 AM to 1PM</td>
                                            <td><strong>Mr.S.D.Pujari</strong></td>
                    
                                        </tr>
                                        <tr>
                                            <td>2. </td>
                                            <td><strong>Working with
                                                Data types</strong><br>
                                                (Hands on
                                                Session)</td>
                                              <td>21/02/2021</td>
                                              <td>11 AM to 1PM</td>
                                              <td><strong>Ms.A.T.Umrani</strong></td>
                      
                                          </tr>
                                          <tr>
                                            <td>3. </td>
                                            <td><strong>Exception
                                                handling and
                                                file handling
                                                using python/strong><br>
                                                (Hands on
                                                Session)</td>
                                              <td>22/02/2021</td>
                                              <td>11 AM to 1PM</td>
                                              <td><strong>Mr.S.D.Pujari</strong></td>
                      
                                          </tr>
                                          <tr>
                                            <td>4. </td>
                                            <td><strong>Object oriented
                                                programming
                                                using python</strong><br>
                                                (Hands on
                                                Session)</td>
                                              <td>23/02/2021</td>
                                              <td>11 AM to 1PM</td>
                                              <td><strong>Ms.A.T.Umrani</strong></td>
                      
                                          </tr>
                                          <tr>
                                            <td>5. </td>
                                            <td><strong>Introduction to
                                                NumPy</strong><br>
                                                (Hands on
                                                Session)</td>
                                              <td>24/02/2021</td>
                                              <td>11 AM to 1PM</td>
                                              <td><strong>Mr.Rohit Patil</strong></td>
                      
                                          </tr>
                                          <tr>
                                            <td>6. </td>
                                            <td><strong>More on
                                                NumPy</strong><br>
                                                (Hands on
                                                Session)</td>
                                              <td>24/02/2021</td>
                                              <td>3 AM to 4PM</td>
                                              <td><strong>Mr.Rohit Patil</strong></td>
                      
                                          </tr>
                                          <tr>
                                            <td>7. </td>
                                            <td><strong>Advanced
                                                NumPy</strong><br>
                                                (Hands on
                                                Session)</td>
                                              <td>25/02/2021</td>
                                              <td>11 AM to 1PM</td>
                                              <td><strong>Mr.Rohit Patil</strong></td>
                      
                                          </tr>
                                          <tr>
                                            <td>8. </td>
                                            <td><strong>Python Pandas</strong><br>
                                                (Hands on
                                                Session)</td>
                                              <td>26/02/2021</td>
                                              <td>11 AM to 1PM</td>
                                              <td><strong>Ms. S. S.
                                                Rokade</strong></td>
                                          </tr>
                                          <tr>
                                            <td>9. </td>
                                            <td><strong>More on
                                                Pandas</strong><br>
                                                (Hands on
                                                Session)</td>
                                              <td>26/02/2021</td>
                                              <td>3 AM to 4PM</td>
                                              <td><strong>Ms. A. A. Kale</strong></td>
                      
                                          </tr>
                                    </table>
                                    </div>
                            </div>
                        </div>

                        
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Fast Support 24/7<br>Mr.Siddharaj D Pujari</h4>
                                <div class="line-dec"></div>
                                <p>Mob:-8421471098<br>Email- <br>siddharaj.pujari@walchandsangli.ac.in</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <h4>Fast Support 24/7<br>Ms.Amruta T.Umrani</h4>
                                <div class="line-dec"></div>
                                <p >Mob-8329101193 <br>
                                    Email-amruta.umrani@walchandsangli.ac.in</p>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>

    

<!-- -------------------------------footer--------------------------- -->
    

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="primary-button">
                        <a href="#home">Back To Top</a>
                    </div>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                    <p>Copyright &copy; 2019 Company Name 
            
            		- Design: <a rel="nofollow noopener" href="https://templatemo.com"><em>TemplateMo</em></a></p>
                </div>
            </div>
        </div>
    </footer>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script>
        function openCity(cityName) {
            var i;
            var x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
               x[i].style.display = "none";  
            }
            document.getElementById(cityName).style.display = "block";  
        }
    </script>

    <script>
        $(document).ready(function(){
          // Add smooth scrolling to all links
          $(".fixed-side-navbar a, .primary-button a").on('click', function(event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
              // Prevent default anchor click behavior
              event.preventDefault();

              // Store hash
              var hash = this.hash;

              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                scrollTop: $(hash).offset().top
              }, 800, function(){
           
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              });
            } // End if
          });
        });
    </script>

</body>
</html>


{% endblock %}